body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:904px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:657px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:657px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:697px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:647px;
  height:22px;
}
#u275p000 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:638px;
  height:2px;
}
#u275p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:640px;
  height:4px;
}
#u275p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:3px;
}
#u275p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u275p002 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:-10px;
  width:22px;
  height:22px;
}
#u275p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:24px;
}
#u275.compound {
  width:0px;
  height:0px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:55px;
  width:636px;
  height:2px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:632px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:24px;
  width:168px;
  height:112px;
  color:#FF0000;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
