body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1122px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  height:677px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  height:677px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:330px;
  width:855px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:370px;
  height:22px;
}
#u127p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:362px;
  height:2px;
}
#u127p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:364px;
  height:4px;
}
#u127p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:3px;
}
#u127p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:4px;
  height:4px;
}
#u127p002 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:-10px;
  width:22px;
  height:22px;
}
#u127p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:24px;
}
#u127.compound {
  width:0px;
  height:0px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:105px;
  width:359px;
  height:2px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:98px;
  width:310px;
  height:16px;
  color:#FF0000;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  white-space:nowrap;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:98px;
  width:57px;
  height:16px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:452px;
  height:22px;
}
#u133p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:444px;
  height:2px;
}
#u133p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:446px;
  height:4px;
}
#u133p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:3px;
}
#u133p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:4px;
  height:4px;
}
#u133p002 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:-10px;
  width:22px;
  height:22px;
}
#u133p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:24px;
}
#u133.compound {
  width:0px;
  height:0px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:429px;
  width:441px;
  height:2px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:422px;
  width:232px;
  height:32px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:422px;
  width:106px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
