body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1113px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:677px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:677px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:330px;
  width:857px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:370px;
  height:22px;
}
#u141p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:362px;
  height:2px;
}
#u141p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:364px;
  height:4px;
}
#u141p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:3px;
}
#u141p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:4px;
  height:4px;
}
#u141p002 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:-10px;
  width:22px;
  height:22px;
}
#u141p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:24px;
}
#u141.compound {
  width:0px;
  height:0px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:105px;
  width:359px;
  height:2px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:98px;
  width:310px;
  height:16px;
  color:#FF0000;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  white-space:nowrap;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:98px;
  width:57px;
  height:16px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:302px;
  height:22px;
}
#u147p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:294px;
  height:2px;
}
#u147p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:296px;
  height:4px;
}
#u147p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:3px;
}
#u147p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:4px;
  height:4px;
}
#u147p002 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:-10px;
  width:22px;
  height:22px;
}
#u147p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:24px;
}
#u147.compound {
  width:0px;
  height:0px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:263px;
  width:291px;
  height:2px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:239px;
  width:223px;
  height:64px;
  color:#FF0000;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:316px;
  width:50px;
  height:32px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:313px;
  width:50px;
  height:38px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
